*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    display: flex;
    padding: 20px;
    background-color: blueviolet;
    font-size: large;

}
nav{
    line-height: 75px;

}
ul{
    /* display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left:70rem;
    padding: 20px;


}
li a{
    text-decoration: none;
    list-style: none;
    color: black;
    justify-content: space-around;
    margin: 2rem; */

}
#welc{
    padding-top:5% ;
}